<div style="text-align:left;width:500px;">
      <table>
       
        <tr>
            <th>Custid</th>
            <th>Custname</th>
            <th>Age</th>
            </tr>

      
        <tr *ngFor="let item of cust">
            <td>{{item.custid}}</td>
            <td>{{item.custname}}</td>
            <td>{{item.age}}</td>
            
        </tr>
    </table>

    <form class="form-group col-md-4">

<input type=text id="custid"/> 
<input type=text id="custname"/> 
<input type=text id="age"/> 
<input type="button" value="insert data" (click)="insertcust()"/>
<input type="button" value="delete data" (click)="deletecust()"/>

<input type="button" value="update data" (click)="updatecust()"/>

<input type="button" value="move to music page" (click)="navigatepage()"/><hr>

<input type=text id="uid" class="form-control" /> 
<input type=text id="pwd" class="form-control"/> 
<input type="button" value="login" class="btn btn-primary glyphicon glyphicon-user"(click)="Login()"/>

<input type="button" class="btn btn-primary form-control" form-control value="external" (click)="externalurl()"/>
    </form>

    <div class="container">

        <div class="panel  panel-primary">
            <div class="panel-heading">
                <a href="#pan1" class="btn btn-primary" data-toggle="collapse">  What is Bootstrap</a>
              
            </div>
            <div class="panel-body collapse" id="pan1">

                <p>Bootstrap one of the widely used framework to desing the web application</p>
                <p>it can be used accross any client side application</p>

            </div>
        </div>
    </div>
</div>
<div class="container">
   
    <div class="jumbotron">Hello JCI</div>



</div>

<button type="button" class="btn btn-info">
    <span class="glyphicon glyphicon-search"></span> Search
  </button>


  <body>
    <h1 class="text-center">Employee Registration Form </h1>
    <hr>
        <form class="form-group col-sm-offset-4 col-sm-4">
        <div class="form-group has-feedback input-group">
        
        <span  class="input-group-addon">UName</span>	
        <input type="text" class="form-control"/>
        <span  class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
    
        <div class="form-group has-success has-feedback input-group">
    
        <span  class="input-group-addon">Password</span>	
        <input type="text" class="form-control"/>
        <span  class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        
        <div class="form-group">
        <label>Department</label>	
        <select class="form-control">
        <option>Sales</option>
        <option>Finance</option>
        <option>Marketing</option>
        </select>
        </div>
    
    
        <div class="form-group">
        <label>Manager</label>	
        <select multiple class="form-control">
        <option>Sachin</option>
        <option>Dhoni</option>
        <option>Virat</option>
        </select>
        </div>
    
        <div class="form-group input-group">
        <span  class="input-group-addon">M</span>	
        <input type="radio" name="a">
        <span  class="input-group-addon">F</span>	
        <input type="radio" name="a">
        </div>
    
    
        <div class="form-group">
        <label>Remarks</label>	
        <textarea class="form-control" rows=5 cols=10></textarea>
        </div>
    
    
        <div class="form-group">
        <input class="form-control btn btn-primary" id="btn1" type="button" value="Register"/>
        </div>
        </form>
    
    </body>