<html>
<head>
  <title>
    Home
  </title>
  <link href="app.component.css" rel="stylesheet" />


</head>
<body>
  <div id="nav">
    <div id="logo"><span class="navlogo">Logo</span></div>
    <div id="home"><span class="navmenu">Home</span></div>
    <div id="products"><span class="navmenu">Product</span></div>
    <div id="shop"><span class="navmenu">Online Store</span></div>

    <div id="signup"><span class="navmenu">Sign Up</span></div>
    <div id="login"><span class="navmenu">Log in</span></div>
    <div id="logout"><span class="navmenu">Logout</span></div>
  </div>

  <div id="content">
    <app-home></app-home>
    <div id="Banner"></div>
    <div id="ProCard"></div>
  </div>

  
  <div id="footer">
    <div id="social">Soc</div>
    <div id="office">off</div>
    <div id="copy">copy</div>
  </div>

 

</body>


</html>
