<p>products works!</p>

<input type="button" (click)="MoveNext()" value="MoveNext"/>

<table>

    <tr>
        <th>pid</th>
        <th>pname</th>
        <th>description</th>
        <th>price</th>
        <th>pimage</th>
        </tr>


    <tr *ngFor="let item of ProdList">
        <td>{{item.pid}}</td>
        <td>{{item.pname}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <!-- <td>{{item.pimage}}</td> -->
        <td><img height=200 width=200 src="{{item.pimage}}"/></td>
        <td>  <input type="button" (click)="Viewdata(item)" value="ordernow"/></td>
    </tr>
</table>

<a [routerLink]="['./app-user-orders']">Albums</a>
    <input type="button" (click)="Navgiatedata()" value="orderproduct"/>

<router-outlet></router-outlet>